asgiref==3.6.0
Django
django-cors-headers==3.13.0
djangorestframework==3.14.0
flake8
mccabe==0.7.0
Pillow==9.4.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytz==2022.7
sqlparse==0.4.3
tzdata==2023.3
upgrade-requirements==1.7.0